## Learning Objectives

At the end of the experiment, you will be able to
* understand Tensors and their application
* define/form Tensors
* perform different operations of Tensor using NumPy and Tensorflow library

#### Importing required library

In [1]:
import numpy as np
import tensorflow as tf

### Introduction to Tensorflow

TensorFlow is an end-to-end open-source platform for machine learning,  specifically deep learning. TensorFlow is a rich system for managing all aspects of a machine learning system; however, we focus on using a particular TensorFlow API to develop and train machine learning models.

TensorFlow APIs are arranged hierarchically, with the high-level APIs built on the low-level APIs. Machine learning researchers use low-level APIs to create and explore new machine learning algorithms. We are going to use a high-level API named tf.keras to define and train machine learning models and to make predictions. tf.keras is the TensorFlow variant of the open-source Keras API.

Tensorflow's name is directly derived from its core framework: Tensor and all the computations carried out involve Tensor and its operations.TensorFlow was developed by the Google Brain team and first released under the Apache License 2.0 in 2015.

[Tensorflow toolkit hierarchy ](https://developers.google.com/machine-learning/crash-course/first-steps-with-tensorflow/toolkit)

##### What is a Tensor?

A tensor is a generalization of vectors and matrices to potentially higher dimensions, see the Table below. Internally, TensorFlow represents tensors as n-dimensional arrays of base datatypes. Each element in the Tensor has the same data type, and the data type is always known. Simply, tensor, in relation to machine learning, is a generalization of scalars, vectors and, matrices. 

![alt text](https://cdn.extras.talentsprint.com/IOT/Images_AIML/Intro_tensor.png)

* From the above explanation, you might have understood that the Tensor operations are nothing but matrix operations.

* In the following sections, we will see a few commonly used operations of Tensor using both NumPy and TensorFlow Library.

### 1. Defining and slicing a 2D/1D-Tensor 
#### NumPy

In [2]:
a=np.array([[1,2],[2,3],[6,7]])             # Defining a 2D array in Numpy
print(a)                                    # printing the array
print('shape = ',a.shape)                   # shape gives counting of number of rows and columns in the forms of tuple 
print('dimension = ',a.ndim)                # It gives dimension of array , here it is 2D.
print('size =',np.size(a))                  # size always gives total number of elements in any array
print('lengths = ',len(a))                  # In 2D it gives counting of number of rows in an array
print('data Structure type : ',type(a))     # It gives the type of data structure, it is an object of class numpy ndarray .
a.dtype                                     # it gives type of data stored in array. For printing the last variable we don't have to write print explicitly.

[[1 2]
 [2 3]
 [6 7]]
shape =  (3, 2)
dimension =  2
size = 6
lengths =  3
data Structure type :  <class 'numpy.ndarray'>

dtype('int64')

#### Slicing: We are going to define a 2D Matrix as given in the image below and apply the slicing operations.

![alt text](https://cdn.extras.talentsprint.com/IOT/Images_AIML/Array_slicing.png)

In [3]:
a2d = np.array([[1, 2, 3, 4], [4, 5, 6, 7], [7, 8, 9, 10]]) ## Creating a 2D array
a2d

array([[ 1,  2,  3,  4],
       [ 4,  5,  6,  7],
       [ 7,  8,  9, 10]])

In [4]:
a2d[2] # On passing a single integer value inside the square bracket, we get the corresponding indexed row. 
       # 2nd indexed row is getting sliced here.

array([ 7,  8,  9, 10])

In [5]:
a2d[0] # zeroth row sliced.

array([1, 2, 3, 4])

In [6]:
a2d[1,3]  # The first value before coma is for row index and the second value after coma is for column index.

7

In [7]:
a2d[1][3]  # This is also possible.

7

In [8]:
a2d[-2,-3] # Using negative index

5

In [9]:
a2d[:-1,:-2] # from the very beginning to -2 indexed row (i.e -3 and -2 indexed row) and -3,-4 indexed columns are sliced

array([[1, 2],
       [4, 5]])

In [10]:
a2d[:2] # from the very beginning to 1 indexed row, i.e 0 and 1 index row sliced. 2 is not included.

array([[1, 2, 3, 4],
       [4, 5, 6, 7]])

In [11]:
a2d[:2, 2:] # ( 0 ,1 ) indexed rows and 2 to last indexed columns are sliced.

array([[3, 4],
       [6, 7]])

In [12]:
a2d[1, :2] # 1 indexed row and (0,1) indexed columns are sliced .

array([4, 5])

In [13]:
a2d[:2, 2] # Explain yourself?

array([3, 6])

In [14]:
a2d[:, :1] # All rows and 0 column ( from the very beginning, but 1 not included i.e. zeroth column ) sliced.

array([[1],
       [4],
       [7]])

In [15]:

print('Initial Matrix = ',a2d)
a2d[:2, 1:] = 0 # This is an assignment operation, a2d  itself gets changed.
print('Matrix after above assigned operations = ',a2d)

Initial Matrix =  [[ 1  2  3  4]
 [ 4  5  6  7]
 [ 7  8  9 10]]
Matrix after above assigned operations =  [[ 1  0  0  0]
 [ 4  0  0  0]
 [ 7  8  9 10]]

#### TensorFlow
**tf.Variable** : There are multiple ways of defining/forming a Tensor in Tensorflow, tf.Variable is one of those. A tf.Variable represents a tensor whose value can be changed by running operations on it. Specific operations allow you to read and modify the values of this tensor. Higher-level libraries like tf.keras use tf.Variable to store model parameters that keep changing/updating with subsequent learning steps.

**tf.Constant** : This is another way of creating a Tensor but the tensor made through this cannot be updated but can be called multiple times with only 1 copy in the memory, used in section 10.

In [16]:
a_tf=tf.Variable([[1,2],[2,3],[6,7]])
print(a_tf)
print(tf.shape(a_tf))
print(tf.rank(a_tf))
# print(a_tf.ndim) -->  This operation is not valid for tf.variable object.
print(tf.size(a_tf))

<tf.Variable 'Variable:0' shape=(3, 2) dtype=int32, numpy=
array([[1, 2],
       [2, 3],
       [6, 7]], dtype=int32)>
tf.Tensor([3 2], shape=(2,), dtype=int32)
tf.Tensor(2, shape=(), dtype=int32)
tf.Tensor(6, shape=(), dtype=int32)

#### Slicing: Similar to Numpy array slicing.

In [17]:
a_tf[:,1]

#### Note the difference between 1D tensor, 2D row tensor and 2D column tensor, explained with example below.
#### NumPy

In [18]:
V1=np.array([1,2,3]) # This is a 1D tensor. There are no concepts of rows and columns in the 1D tensor.
print(V1,'\n')
print(V1.shape)

[1 2 3]

(3,)

In [19]:
V2=np.array([[1,2,3]]) # This is a 2D tensor having 1 row and 3 columns, i.e. 2D row tensor as it contains only one row.
print(V2,'\n')
print(V2.shape)

[[1 2 3]]

(1, 3)

In [20]:
V3=np.array([[1],[2],[3]])  # This is a 2D tensor having 3 rows and 1 column, ie. a 2D column tensor as it contains only one column.
print(V3,'\n')
print(V3.shape)

[[1]
 [2]
 [3]]

(3, 1)

#### TensorFlow

In [21]:
V1_tf=tf.Variable([1,2,3])
print(V1_tf)

<tf.Variable 'Variable:0' shape=(3,) dtype=int32, numpy=array([1, 2, 3], dtype=int32)>

In [22]:
V2_tf=tf.Variable([[1,2,3]])
print(V2_tf)

<tf.Variable 'Variable:0' shape=(1, 3) dtype=int32, numpy=array([[1, 2, 3]], dtype=int32)>

In [23]:
V3_tf=tf.Variable([[1],[2],[3]])
print(V3_tf)

<tf.Variable 'Variable:0' shape=(3, 1) dtype=int32, numpy=
array([[1],
       [2],
       [3]], dtype=int32)>

### 2. Transpose
The new matrix obtained by interchanging the rows and columns of the original matrix is referred to as the transpose of the matrix.
#### NumPy

In [24]:
print(a2d,'\n')
print(a2d.T)

[[ 1  0  0  0]
 [ 4  0  0  0]
 [ 7  8  9 10]]

[[ 1  4  7]
 [ 0  0  8]
 [ 0  0  9]
 [ 0  0 10]]

#### TensorFlow

In [25]:
a2d_tf = tf.Variable([[1, 2, 3, 4], [4, 5, 6, 7], [7, 8, 9, 10]]) ## Creating a 2D tensor
print(a2d_tf)
tf.transpose(a2d_tf)

<tf.Variable 'Variable:0' shape=(3, 4) dtype=int32, numpy=
array([[ 1,  2,  3,  4],
       [ 4,  5,  6,  7],
       [ 7,  8,  9, 10]], dtype=int32)>

<tf.Tensor: shape=(4, 3), dtype=int32, numpy=
array([[ 1,  4,  7],
       [ 2,  5,  8],
       [ 3,  6,  9],
       [ 4,  7, 10]], dtype=int32)>

### 3. Scalar Addition and Multiplication
Addition or Multiplication of any higher-order tensor with a scalar quantity(zero-order tensor).
#### NumPy

In [26]:
print(a)
a+2 # 2 is added to each element of the initial matrix a.

[[1 2]
 [2 3]
 [6 7]]

array([[3, 4],
       [4, 5],
       [8, 9]])

In [27]:
a*2 # Each element of the initial matrix is multiplied by 2.

array([[ 2,  4],
       [ 4,  6],
       [12, 14]])

#### TensorFlow

In [28]:
print(a_tf)
tf.add(a_tf,2)

<tf.Variable 'Variable:0' shape=(3, 2) dtype=int32, numpy=
array([[1, 2],
       [2, 3],
       [6, 7]], dtype=int32)>

<tf.Tensor: shape=(3, 2), dtype=int32, numpy=
array([[3, 4],
       [4, 5],
       [8, 9]], dtype=int32)>

In [29]:
tf.multiply(a_tf,2)

<tf.Tensor: shape=(3, 2), dtype=int32, numpy=
array([[ 2,  4],
       [ 4,  6],
       [12, 14]], dtype=int32)>

### 4. Addition and Subtraction between tensors
When shape matches, simply element-wise addition and subtraction is carried out.
#### NumPy

In [30]:
b=np.array([[1,2],[2,3]])
c=np.array([[3,4],[5,6]])
print('b = ','\n',b,'\n','c = ','\n',c)

b =
 [[1 2]
 [2 3]]
 c =
 [[3 4]
 [5 6]]

In [31]:
print(b+c,'\n')
print(b-c)

[[4 6]
 [7 9]]

[[-2 -2]
 [-3 -3]]

#### TensorFlow

In [32]:
b_tf=tf.Variable([[1,2],[2,3]])
c_tf=tf.Variable([[3,4],[5,6]])
print(b_tf,'\n',c_tf)

<tf.Variable 'Variable:0' shape=(2, 2) dtype=int32, numpy=
array([[1, 2],
       [2, 3]], dtype=int32)>
 <tf.Variable 'Variable:0' shape=(2, 2) dtype=int32, numpy=
array([[3, 4],
       [5, 6]], dtype=int32)>

In [33]:
tf.add(b_tf,c_tf) # Addition

<tf.Tensor: shape=(2, 2), dtype=int32, numpy=
array([[4, 6],
       [7, 9]], dtype=int32)>

In [34]:
tf.subtract(b_tf,c_tf) # subtraction

<tf.Tensor: shape=(2, 2), dtype=int32, numpy=
array([[-2, -2],
       [-3, -3]], dtype=int32)>

Following is a list of commonly used operations. The idea is the same. Each operation requires one or more arguments.

    tf.add(a, b)
    tf.substract(a, b)
    tf.multiply(a, b)
    tf.div(a, b)
    tf.pow(a, b)
    tf.exp(a)
    tf.sqrt(a)

#### Concept of Broadcasting
It is better understood by going through the examples given below.
#### NumPy

[Ref.: https://numpy.org/devdocs/user/theory.broadcasting.html ]

In [35]:
M1=np.array([[1,2,3],[4,5,6]])
print(M1)
M1.shape

[[1 2 3]
 [4 5 6]]

(2, 3)

In [36]:
M2=np.array([[8],[9]])
print(M2)
M2.shape

[[8]
 [9]]

(2, 1)

Mathematically M1 and M2 cannot be added as the shape doesn't match, but in NumPy, they can be added. M2 has the same number of rows as that of M1. Its column gets replicated so that its shape becomes equal to M1, and then, both are added. This process of replication is broadcasting. M2 gets broadcasted in the direction of the column of M1. We will see the result after replication and sum operation. Broadcasted M2 is not visible, it is a hidden step. See the result below:

In [37]:
M1+M2

array([[ 9, 10, 11],
       [13, 14, 15]])

In [38]:
# Making another array M3
M3=np.array([[10,20,30]])
print(M3)
M3.shape

[[10 20 30]]

(1, 3)

Mathematically M1 and M3 can not be added as the shape doesn't match, but in NumPy, they can be added. M3 has the same number of columns as that of M1. Its rows get replicated so that its shape becomes equal to M1, and then, both are added. This process of replication is broadcasting. M3 gets broadcasted in the direction of the rows of M1. We will see the result after replication and sum operation. Broadcasted M3 is not visible, it is a hidden step. See the result below:

In [39]:
M1+M3

array([[11, 22, 33],
       [14, 25, 36]])

#### TensorFlow
 Similar as NumPy.
 
 [Ref.: https://www.tensorflow.org/xla/broadcasting ]

In [40]:
M1_tf=tf.Variable([[1,2,3],[4,5,6]])
print(M1_tf,'\n')
M2_tf=tf.Variable([[8],[9]])
print(M2_tf)

<tf.Variable 'Variable:0' shape=(2, 3) dtype=int32, numpy=
array([[1, 2, 3],
       [4, 5, 6]], dtype=int32)>

<tf.Variable 'Variable:0' shape=(2, 1) dtype=int32, numpy=
array([[8],
       [9]], dtype=int32)>

In [41]:
tf.add(M1_tf,M2_tf)

<tf.Tensor: shape=(2, 3), dtype=int32, numpy=
array([[ 9, 10, 11],
       [13, 14, 15]], dtype=int32)>

### 5. Hadamard Product or Element-wise Multiplication
If the two Tensors have the same size, operations are carried out elementwise by default.
#### NumPy

In [42]:
# Using previously defined matrix a by using  Numpy
a

array([[1, 2],
       [2, 3],
       [6, 7]])

In [43]:
# Defining another matrix b
b=np.array([[2,3],[1,2],[4,5]])
b

array([[2, 3],
       [1, 2],
       [4, 5]])

In [44]:
a*b # Here shape of a  and b matches thus default product is Hadamard multiplication. Note: This is not matrix multiplication.

array([[ 2,  6],
       [ 2,  6],
       [24, 35]])

#### TensorFlow

In [45]:
a_tf

<tf.Variable 'Variable:0' shape=(3, 2) dtype=int32, numpy=
array([[1, 2],
       [2, 3],
       [6, 7]], dtype=int32)>

In [46]:
b_tf=tf.Variable([[2,3],[1,2],[4,5]])
b_tf

<tf.Variable 'Variable:0' shape=(3, 2) dtype=int32, numpy=
array([[2, 3],
       [1, 2],
       [4, 5]], dtype=int32)>

In [47]:
a_tf*b_tf # Hadamard Multiplication
# OR tf.multiply(a_tf,b_tf)

<tf.Tensor: shape=(3, 2), dtype=int32, numpy=
array([[ 2,  6],
       [ 2,  6],
       [24, 35]], dtype=int32)>

### 6. Matrix Multiplication
* For multiplying matrix a and matrix b, the number of columns of matrix a and number of rows of matrix b must match.
* Note: Matrix Multiplication is not commutative (i.e.AB != BA)

#### Image below shows the Matrix multiplication process
![Matrix Multiplication.PNG]()

#### NumPy

In [48]:
a1=np.array([[1,2,3],[4,5,6]])
print(a1,'\n','Shape = ',a1.shape)
b1=np.array([[2,1],[3,2],[4,3]])
print(b1,'\n','Shape = ',b1.shape)

[[1 2 3]
 [4 5 6]]
 Shape =  (2, 3)
[[2 1]
 [3 2]
 [4 3]]
 Shape =  (3, 2)

In [49]:
# Matrix multiplication between a1 and b1 is possible as shape matches.
np.dot(a1,b1) # OR
a1.dot(b1)

array([[20, 14],
       [47, 32]])

#### TensorFlow

In [50]:
a1_tf=tf.Variable([[1,2,3],[4,5,6]])
print(a1_tf,'\n')
b1_tf=tf.Variable([[2,1],[3,2],[4,3]])
print(b1_tf)

<tf.Variable 'Variable:0' shape=(2, 3) dtype=int32, numpy=
array([[1, 2, 3],
       [4, 5, 6]], dtype=int32)>

<tf.Variable 'Variable:0' shape=(3, 2) dtype=int32, numpy=
array([[2, 1],
       [3, 2],
       [4, 3]], dtype=int32)>

In [51]:
tf.linalg.matmul(a1_tf,b1_tf)

<tf.Tensor: shape=(2, 2), dtype=int32, numpy=
array([[20, 14],
       [47, 32]], dtype=int32)>

### 7. Reduction:
Calculating the sum across all elements of a tensor along any one or multiple dimensions.
#### NumPy

In [52]:
a   # Using the matrix/tensor defined above using Numpy

array([[1, 2],
       [2, 3],
       [6, 7]])

In [53]:
print(a.sum())  # OR
print(np.sum(a))

21
21

* Summation along any one dimension: Here axis=0 means down the rows and axis=1 means along the columns.

In [54]:
print(a.sum(axis=0))  # OR
print(np.sum(a,axis=0))

[ 9 12]
[ 9 12]

In [55]:
print(a.sum(axis=1))  # OR
print(np.sum(a,axis=1))

[ 3  5 13]
[ 3  5 13]

##### Notice the code below and find the difference between the above and below operations.

In [56]:
print(a.sum(axis=1,keepdims=True))  # OR
print(np.sum(a,axis=1,keepdims=True))

[[ 3]
 [ 5]
 [13]]
[[ 3]
 [ 5]
 [13]]

#### TensorFlow

In [57]:
a_tf    # Using the tensor a_tf defined using Tensorflow

<tf.Variable 'Variable:0' shape=(3, 2) dtype=int32, numpy=
array([[1, 2],
       [2, 3],
       [6, 7]], dtype=int32)>

In [58]:
tf.reduce_sum(a_tf)

In [59]:
tf.reduce_sum(a_tf,0)  # down the rows

In [60]:
tf.reduce_sum(a_tf,1) # along the columns

### 8. Tensor/Matrix Determinant & Inversion
* The matrix inversion is only valid for non-singular matrix i.e. matrix with non zero determinants. All columns of the matrix must be linearly independent.
* Inversion is only calculated for the square matrix.
#### NumPy

In [61]:
X=np.array([[2,3],[5,9]])
X

array([[2, 3],
       [5, 9]])

In [62]:
np.linalg.det(X) # Determinant calculation

3.0000000000000004

In [63]:
X_inv=np.linalg.inv(X)
X_inv

array([[ 3.        , -1.        ],
       [-1.66666667,  0.66666667]])

In [64]:
np.dot(X,X_inv)

array([[ 1.00000000e+00, -1.11022302e-16],
       [ 1.33226763e-15,  1.00000000e+00]])

#### TensorFlow

In [65]:
X_tf=tf.Variable([[2.,3.],[5.,9.]]) # To get inverse, make sure that  tensor has entries as float
X_tf

<tf.Variable 'Variable:0' shape=(2, 2) dtype=float32, numpy=
array([[2., 3.],
       [5., 9.]], dtype=float32)>

In [66]:
tf.linalg.det(X_tf)    # Determinant Calculation

In [67]:
## To get only the final result, add --> .numpy() at the end as given below. Valid everywhere.
tf.linalg.det(X_tf).numpy()

3.0000007

In [68]:
X_tf_inv=tf.linalg.inv(X_tf)
X_tf_inv

<tf.Tensor: shape=(2, 2), dtype=float32, numpy=
array([[ 2.9999993, -0.9999997],
       [-1.6666663,  0.6666665]], dtype=float32)>

In [69]:
tf.matmul(X_tf,X_tf_inv)

<tf.Tensor: shape=(2, 2), dtype=float32, numpy=
array([[9.9999952e-01, 1.1920929e-07],
       [0.0000000e+00, 1.0000000e+00]], dtype=float32)>

### 9. Higher-order tensor
A colored image consists of three channels of pixels one for Red color, one for Green color, and one for Blue color. Each channel is a 2D matrix. That means, any colored image is represented by a 3-tensor of pixels composed of three 2D matrices stacked one after another and each 2D matrix is called a channel. Say we have an image of 32 pixels then the shape of the tensor representation of this image is (32,32,3),i.e. three 32X32 matrices are stacked one after another. So this is a tensor of order/rank 3 and it is used for the representation of an image.

![alt text](https://cdn.extras.talentsprint.com/IOT/Images_AIML/Higher_order_tensor.png)

Now, say there are 100 such images, then the tensor will be of 4th order and the shape will be (100,32,32,3). So the tensor contains information of 100 images each consists of RGB  channels of 32 by 32 megapixel.
#### NumPy

In [70]:
np.zeros([3,2,3]) # Making a 3 rank/order tensor filled with zeros.

array([[[0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.]]])

In [71]:
np.zeros([2,3,2,3]) # Making a 4 rank/order tensor filled with zeros.

array([[[[0., 0., 0.],
         [0., 0., 0.]],

        [[0., 0., 0.],
         [0., 0., 0.]],

        [[0., 0., 0.],
         [0., 0., 0.]]],


       [[[0., 0., 0.],
         [0., 0., 0.]],

        [[0., 0., 0.],
         [0., 0., 0.]],

        [[0., 0., 0.],
         [0., 0., 0.]]]])

#### TensorFlow

In [72]:
tf.zeros([3,2,3])

<tf.Tensor: shape=(3, 2, 3), dtype=float32, numpy=
array([[[0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.]]], dtype=float32)>

In [73]:
tf.zeros([2,3,2,3])

<tf.Tensor: shape=(2, 3, 2, 3), dtype=float32, numpy=
array([[[[0., 0., 0.],
         [0., 0., 0.]],

        [[0., 0., 0.],
         [0., 0., 0.]],

        [[0., 0., 0.],
         [0., 0., 0.]]],


       [[[0., 0., 0.],
         [0., 0., 0.]],

        [[0., 0., 0.],
         [0., 0., 0.]],

        [[0., 0., 0.],
         [0., 0., 0.]]]], dtype=float32)>

### 11. Converting NumPy Tensor into TensorFlow Tensor and vice-versa :

In [74]:
x = tf.constant([[1, 2, 3], [4, 5, 6]])
x

<tf.Tensor: shape=(2, 3), dtype=int32, numpy=
array([[1, 2, 3],
       [4, 5, 6]], dtype=int32)>

In [75]:
x_np=x.numpy()
x_np

array([[1, 2, 3],
       [4, 5, 6]], dtype=int32)

In [76]:
x_tf=tf.convert_to_tensor(x_np)
x_tf

<tf.Tensor: shape=(2, 3), dtype=int32, numpy=
array([[1, 2, 3],
       [4, 5, 6]], dtype=int32)>

**Comparison --> Tensor in NumPy and TensorFlow** : We have carried out different operations of Tensor using both NumPy and TensorFlow libraries. In general, the Tensors defined in NumPy are called Nd-Arrays whereas in TensorFlow they are called Tensors.
* Do NumPy arrays differ from Tensors?

There is no difference between Tensors defined through both the libraries apart from the syntactical difference (that we have seen in the above operations) but a Tensor is a more suitable choice if we are going to use GPUs/TPUs as it can reside in accelerators memory. This is the main reasoning behind the application of TensorFlow in deep learning.

##### Many other operations can be explored at the link :>  https://www.tensorflow.org/guide/tensor